/* Footer */
.footer-container {
	background-color: var(--bg-secondary);
}
footer {
	text-align: center;
	padding: 1.5rem 0;
	border-top: 1px solid var(--text-secondary);

	background-color: var(--bg-secondary);
}
.footer-legal-container {
	background-color: var(--bg-secondary);
	display: flex;
	justify-content: center;
	gap: 2rem;
}
.footer-legal {
	text-decoration: none;
	color: var(--text-secondary);
	font-size: 0.9rem;
	font-weight: 500;
	transition: color 0.3s ease;
	position: relative;
}

.footer-legal:hover {
	color: var(--accent);
}

.footer-legal::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--gradient);
	transition: width 0.3s ease;
}

.footer-legal:hover::after {
	width: 100%;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.social-links a {
	color: var(--text-secondary);
	font-size: 1.5rem;
	transition: color 0.3s ease;
}

.social-links a:hover {
	color: var(--accent);
}
