/* About section */
.about {
	padding: 4rem 0;
	text-align: center;
}

.about h2 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
	background: var(--gradient);
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin-top: 2rem;
}

.about.section.skills {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about.section.skills h2 {
	margin-bottom: 2rem;
}

.about.section.skills p {
	margin-bottom: 2rem;
}

.skills-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
	max-width: 85%;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.skill {
	padding: 1rem 2rem;
	background: var(--bg-secondary);
	border: 1px solid var(--border);
	border-radius: 50px;
	transition: all 0.3s ease;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 0.7rem;
}

.skill:hover {
	border-color: var(--accent);
	transform: translateY(-2px);
}
